@import './reset.css';

:root {
    /* color */
    --primary-100: #cc2753;
    --text-100: #000;
    --text-200: #959595;
    --bg-100: #ffffff;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Noto+Sans+JP:wght@300;500;700;900&family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700;6..12,900&family=Poppins:wght@300;400;600;800&display=swap');

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cabin', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* Media query --- mobile */
@media only screen and (min-width: 320px) and (max-device-width: 480px) {
    html {
        font-size: 12px;
    }
}
